ErrorDocument 404 https://bimash.com.np/Projects/Patan/404
php_value max_input_vars 10000
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]

RewriteRule ^Home index.php [NC,L]
RewriteRule ^About about.php [NC,L]
RewriteRule ^Hotspot hotspot.php [NC,L]
RewriteRule ^Courses courses.php [NC,L]
RewriteRule ^Detail detail_course.php [NC,L]
RewriteRule ^Blog blog.php [NC,L]
RewriteRule ^Preview preview_blog.php [NC,L]
RewriteRule ^404 error.php [NC,L]





