@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.nav-link:hover{
    color: rgb(64, 64, 216)!important;
}

div{
    /* border: 1px solid red!important; */
}
.nav_item{
    font-size:18px!important;
}

h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
}

.course{
box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    border: 1px solid #e7e7e7 !important;
}
.course:hover{
box-shadow:0 22px 26px -4px hsl(0deg 0% 8% / 15%), 0 8px 9px -5px hsl(0deg 0% 15% / 50%) !important;
transform: scale(1.05);
z-index: 99999;
cursor: pointer;
}
.courses p{
    color : #67748e!important;
    font-size: 1.11rem!important;
}
.course:hover{
    color: #67748e !important;
}
.blog_img{
    min-height: 240px;
    background-color: #6DB3F2;
        background-position: center;
            background-size: cover;
}

.text-heading{
    color: black;
    font-weight: bold;
}
.blog-img{
    height: 450px;
    object-fit: cover;
    object-position: center;
}
.course-desc{
    height: 84px;
    overflow: hidden;
}
.blog-desc {
     height: 60px;
     overflow: hidden;
 }
 .newsmag-content>p{
    text-align: justify!important;
 }